<html>

    <head>
        <title>Dev - King Killerzs</title>
        <script src="http://localhost:35729/livereload.js"></script>

        <script src="http://localhost:5374/socket.io/socket.io.js"></script>
        <script src=".\javascript\libs\lib.js"></script>
        <script src=".\javascript\baseObjects\baseWorldObject.js"></script>
        <script src=".\javascript\baseObjects\itemObject.js"></script>
        <script src=".\javascript\baseObjects\attackObject.js"></script>
        <script src=".\javascript\worldObjects\healthPot.js"></script>
        <script src=".\javascript\worldObjects\bolt.js"></script>
        <script src=".\javascript\worldObjects\player.js"></script>
        <script src=".\javascript\worldObjects\warrior.js"></script>
        <script src=".\javascript\game.js"></script>
    </head>

    <style>
        #hud {
            position: absolute;
            color: #fff;
        }
        .room-join {
            margin: 4px;
        }

        .room-join label {
            display: block;
        }

        .room-join button {
            display: block;
            width: 100%;
            background: #55a;
            color: #fff;
            border: 0px;
            border-radius: 3px;
        }

        .room-join button:hover {
            background: #99e;
        }

    </style>

    <body>
        <h1> King Killers - Dev Client </h1>
            <div id="hud">
                <template v-if="!inRoom">
                    <h3> King Killers - Pre-Alpha Dev </h3>
                    <template v-for="game in activeGames">
                        <div class="room-join">
                            <label> Room #{{ game.id }} </label>
                            <button v-on:click="joinRoom(game)"> Join </button>
                        </div>
                    </template>
                </template>
            </div>
        <div id="game-container">
        </div>
    </body>

</html>